<div class="header">
	<h1>FAQ</h1>
	<div class="clear"></div>
	<div class="txt-left" hideon="!ctrl.toggleInfo">
		<p><b>Web:</b> http://#URL#</p>
		<p><b>Breaking News:</b> c1whistler://inbox</p>
		<p><b>Event:</b> c1whistler://event</p>
		<p><b>Event Detail:</b> c1whistler://event/#EVENT_ID#</p>
		<p><b>Explore:</b> c1whistler://event</p>
		<p><b>Explore Detail:</b> c1whistler://event/#EVENT_ID#</p>
		<p><b>Map:</b> c1whistler://map</p>
		<p><b>Camera:</b> c1whistler://camera</p>
		<p><b>Helps:</b> c1whistler://help</p>
		<p><b>Helps:</b> c1whistler://help/#HELP_ID#</p>
		<p><b>Sponsors:</b> c1whistler://sponsor</p>

		<div class="clear"></div>
	</div>
</div>
<form ng-submit="ctrl.save()">
	<table>
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>

			<!-- question -->
			<tr>
				<td class="txt-right">
					<label for="question">Question:</label>
				</td>
				<td>
			  		<input id="question" value="" maxlength="191" type="text" ng-model="ctrl.help.question" />
				</td>
			</tr>
			<!-- END question -->

			<!-- answer -->
			<tr>
				<td class="txt-right">
		        	<label for="answer">Answer:<br/><code>&lt;a href="#URL#"&gt;#TITLE#&lt;/a&gt;</code><br/><a ng-click="ctrl.toggleInfo=!ctrl.toggleInfo">Show Routes</a></label>
				</td>
				<td>
				  	<textarea id="answer" style="height:140px;" ng-model="ctrl.help.answer" ></textarea>
				</td>
		    </tr>
			<!-- END answer -->

		    <!-- photoUrl -->
		    <tr>
		      <td class="txt-right">
		        <label for="photoUrl">Photo Url:</label>
		      </td>
		      <td>
					<a ng-show="ctrl.help.photoUrl" ng-click="ctrl.removePhotoUrl()">remove</a><br/>
					<img class="photoUrl" src="{{ctrl.help.photoUrl}}" ng-show="ctrl.help.photoUrl"/>
					<input name="file" type="file" ng-file-model="ctrl.photoUrlFile" />
		      </td>
		    </tr>
		    <!-- END photoUrl -->

		</tbody>
	</table>

	<input class="brand-btn" name="submit" type="submit" value="Submit" />
	<a class="cancel txt-dk-gray" ng-click="ctrl.cancel()" title="Cancel"><em>cancel</em></a>
</form>
