<div class="header">
    <h1>Group Push Message</h1>
    <div class="clear"></div>
    <div class="txt-left" hideon="!ctrl.toggleInfo">
        <p><b>Web:</b> http://#URL#<p>
        <p><b>Breaking News:</b> c1whistler://inbox<p>
        <p><b>Event:</b> c1whistler://event<p>
        <p><b>Event Detail:</b> c1whistler://event/#EVENT_ID#<p>
        <p><b>Explore:</b> c1whistler://event<p>
        <p><b>Explore Detail:</b> c1whistler://event/#EVENT_ID#<p>
        <p><b>Map:</b> c1whistler://map<p>
        <p><b>Camera:</b> c1whistler://camera<p>
        <p><b>Helps:</b> c1whistler://help<p>
        <p><b>Helps:</b> c1whistler://help/#HELP_ID#<p>
        <p><b>Sponsors:</b> c1whistler://sponsor<p>
    </p>
        <div class="clear"></div>
    </div>
    <form ng-init="ctrl.load()" ng-submit="ctrl.save()">
        <table>
            <thead>
            <tr>
                <th width="30%">&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>

            <!-- TEXTAREA -->
            <tr>
                <td class="txt-right">
                    <div for="message" >Message:<br/><code>&lt;a href="#URL#"&gt;#TITLE#&lt;/a&gt;</code></div>
                </td>
                <td>
                    <textarea id="message" ng-model="ctrl.message.message" ng-trim="false" maxlength="400"></textarea>
                </td>
            </tr>

            <tr>
                <td class="txt-right">
                    <div for="message" >Users:</div>
                </td>
                <td>
                    <tags-input ng-model="ctrl.emails"
                                add-from-autocomplete-only="true"
                                add-on-enter="true"
                                display-property="name"
                                replace-spaces-with-dashes="false"
                                placeholder="Emails">
                        <auto-complete source="ctrl.loadData($query)"
                                       min-length="0"
                                       load-on-focus="true"
                                       load-on-empty="true"></auto-complete>
                    </tags-input>
                </td>
            </tr>


            <!-- END TEXTAREA -->

            <!-- MESSAGE TYPES -->
            <!-- <tr>
                <td class="txt-right">
                    <label for="messageTypeId">Icon Type:</label>
                </td>
                <td>
                    <select id="messageTypeId" ng-change="ctrl.didChange()"
                                            ng-model="ctrl.message.messageTypeId"
                                            ng-options="messageType.id as messageType.name for messageType in ctrl.messageTypes"></select>
                </td>
            </tr> -->
            <!-- END MESSAGE TYPES -->

            <!-- PHOTO -->
            <tr>
                <td class="txt-right">
                    <label for="photo">Photo:</label>
                </td>
                <td>
                    <a ng-show="ctrl.message.photoUrl" ng-click="ctrl.removePhotoUrl()">remove</a><br/>
                    <img class="photo" src="{{ctrl.message.photoUrl}}" ng-show="ctrl.message.photoUrl"/>
                    <input name="file" type="file" ng-file-model="ctrl.photoUrlFile" />
                </td>
            </tr>
            <!-- END PHOTO -->

            <!-- DEEP LINK
            <tr>
                <td class="txt-right">
                    <label for="deepLink">Deep Link:</label>
                    <br/><a ng-click="ctrl.toggleInfo=!ctrl.toggleInfo">Show Routes</a>
                </td>
                <td>
                    <input id="deepLink" value="" maxlength="191" type="text" ng-model="ctrl.message.deepLink" />
                </td>
            </tr>-->
            <!-- END DEEP LINK -->

            <!-- CHANNELS
            <tr>
                <td class="txt-right">
                    <label for="channels">Channels:</label>
                </td>
                <td>
                    <select id="channels" ng-change="ctrl.didChange()"
                            ng-model="ctrl.message.channels"
                            ng-options="channel.value as channel.name for channel in ctrl.channels"></select>
                </td>
            </tr>-->
            <!-- END CHANNELS -->

            <!-- CUSTOM TIME -->
            <tr class="customTime">
                <td class="txt-right">
                    <label>Send At:</label>
                </td>
                <td>
                    <input datetime-picker ng-model="ctrl.sendAt" date-format="M/dd/yyyy hh:mm a" />
                </td>
            </tr>
            <!-- END CUSTOM TIME -->

            </tbody>
        </table>

        <input class="brand-btn" name="submit" type="submit" value="Submit" />
        <a class="cancel txt-dk-gray" ng-click="ctrl.cancel()" title="Cancel"><em>cancel</em></a>
    </form>
