<div class="header">
	<h1>News</h1>

	<!-- A PLACE FOR ERRORS -->
	<div class="messageText" id="messageText"></div>
	<div class="clear"></div>

	<div ng-hide="editing" class="action_btns left">
		<a class="btn icon brand-btn add" ng-click="ctrl.create('/push')">Push Message</a>
		<a class="btn icon brand-btn add" ng-click="ctrl.create('/group/push')">Push Message</a>
		<a class="btn icon brand-btn add" ng-click="ctrl.create('')">Inbox Message</a>
		<!-- <a class="btn icon brand-btn add" ng-click="ctrl.create('/location')">Push to Location</a>
		<a class="btn icon brand-btn add" ng-click="ctrl.create('/beacon')">Push for Beacon</a> -->
		<div class="clear"></div>
	</div>
	<div class="clear"></div>

</div>
<table>
	<thead>
		<tr>
			<th>News</th>
			<th width="20%;">Send Date</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
    <tr ng-show="!ctrl.messages.length"><td colspan="2">There are currently no records to list</td></tr>
    <tr ng-repeat="item in ctrl.messages | orderBy: item.sendAt : true" id="{{ item.id }}">
		<td>
			<div title="{{ item.message }}"><span>{{ item.message }}</span></div>
		</td>
		<td>
			<div title="{{ item.sendAt }}"><span ng-show="item.sendAt > 0">{{ item.sendAt | momentTime }}</span></div>
		</td>
      	<td class="table_action_items" style="width:144px;"><a ng-click="ctrl.delete(item)" class="delete" title="Delete">X</a><a ng-click="ctrl.edit(item)" title="Edit Item">Edit</a></td>
    </tr>
	</tbody>
</table>
