<img class="appicon" src="/images/appicon.png" alt="">
<h1 class="txt-upper">CreativeOne Whistler Admin</h1>
<a class="icon-menu">
	<span></span>
</a>
<ul class="nav">
	<li><a href="/admin/dashboard" ng-class="{active:navCtrl.isActive('/dashboard')}">Overview</a></li>
	<li><a href="/admin/message" ng-class="{active:navCtrl.isActive('/message')}">News</a></li>
	<li><a href="/admin/event_category" ng-class="{active:navCtrl.isActive('/event_category')}">Event Categories</a></li>
    <li><a href="/admin/event" ng-class="{active:navCtrl.isActive('/event')}">Events</a></li>
    <li><a href="/admin/help" ng-class="{active:navCtrl.isActive('/help')}">Helps</a></li>
    <li><a href="/admin/menu_slide" ng-class="{active:navCtrl.isActive('/menu_slide')}">Menu Slides</a></li>
    <li><a href="/admin/sponsor" ng-class="{active:navCtrl.isActive('/sponsor')}">Sponsors</a></li>
    <li><a href="/admin/tier" ng-class="{active:navCtrl.isActive('/tier')}">Tiers</a></li>
    <li><a href="/admin/vendor_category" ng-class="{active:navCtrl.isActive('/vendor_category')}">Vendor Categories</a></li>
    <li><a href="/admin/vendor" ng-class="{active:navCtrl.isActive('/vendor')}">Vendors</a></li>
	<li class="logout"><a ng-click="navCtrl.logOut()">Logout</a></li>
</ul>

<div class="clear"></div>
